body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("mondstadt.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#container {
    height: 100%; 
    width: 100%;
}